#root {
  margin: 0 auto;
  padding: 2rem;
}

.sign-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  width: 400px;
}

.sign-data a {
  display: flex;
  justify-content: center;
}

.el-label {
  margin-left: 10px;
}

